.App {
  text-align: center;
  margin-bottom: 2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  color: white;
  .AI-title {
    color: red;
  }
}

.secondary-title {
  text-align: center;
  color: #BCC6CC;
}

.input-container {
  margin: 0 0 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #BCC6CC;
}

.radio-option input[type="radio"] {
  margin-right: 0.5rem;
}

.checkbox-option input[type="checkbox"] {
  margin-right: 0.5rem;
}

.selected {
  color: #008000;
}

.form-top {
  margin-top: 4rem;
}

.main-label {
  font-size: 2rem;
  font-weight: bold;
  color:white;
}

.main-label {
  font-size: 2rem;
  font-weight: bold;
  color:white;
}

.additional-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rounded-textarea {
  border-color: #BCC6CC;
  border-width: medium;
  border-radius: .5rem; 
  text-align: center;
  font-size: 1rem;
  resize: none;
  width: 20rem;
  height: 3.5rem;
  margin: 1rem 0 2rem;
}

.normal-button {
  background-color: #BCC6CC;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: .5rem; 
  padding: .75rem;
  cursor: pointer;
}

.green-button {
  background-color: darkgreen;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: .5rem; 
  padding: .75rem;
  cursor: pointer;
}

:visited, :link {
  color: #157DEC;
}

.bottomleft {
  color: white;
  font-size: medium;
  position: absolute;
  bottom: 0px;
  left: 1rem;  
}

.bottomright {
  font-size: medium;
  position: absolute;
  bottom: 0px;
  right: 1rem;  
}