body {
  background-color: #15317E;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:visited, :link {
  color: #157DEC;
}

.topleft {
  color: white;
  font-size: medium;
  position: absolute;
  top: 0px;
  left: 1rem;  
}

.topright {
  font-size: medium;
  position: absolute;
  top: 0px;
  right: 1rem;  
}